
<ul class="table-hover">
    <li> @Html.ActionLink("Instructor Data", "Index", "Instructor")</li>
   <li> @Html.ActionLink("Student Data", "Index", "Student")</li>
   <li> @Html.ActionLink("Course Data", "Index", "Course")</li>
    <li> @Html.ActionLink("Classes Data", "Index", "GenerateClasses")</li>

</ul>



