
@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="w3_breadcrumb">
    <div class="breadcrumb-inner">
        <ul>
            <li><a href="~/Web/Index">Home</a> <i> /</i></li>
            <li>About</li>
        </ul>
    </div>
</div>
<!-- //breadcrumb -->
<!--/content-inner-section-->
<div class="w3_content_agilleinfo_inner">
    <div class="container">
        <div class="inner-agile-w3l-part-head">
            <h2 class="w3l-inner-h-title">About</h2>
        </div>
        <div class="ab-w3l-spa">
            <img src="~/Webtheme/images/ab.jpg" alt="" class="img-responsive" />
            <p style="text-align:justify">
                OMSI traces its history back to 1943 when missionaries from St. Joseph's Society Mill Hill, London, established the OMSI in Lahore. It was named after an English Manor House, which had a hall with a stream (Success) running through it, hence, the name 'OMSI'. In 1943, the missionaries established OMSI in a rented home in Lahore, with the motto "Industria Floremus - In Toil We Flourish". In 1948, Father Tijssen set up OMSI in a small hotel building, the Abbot Hotel. Father Scanlon: the first Principal of the school along with Borekamp and Mallet were appointed in staff.The Fathers replicated the system and promoted sports and extra-curricular activities such as music, debate, dramatics, and art as a means of character building. Later on, additional space was acquired and more buildings were added to accommodate an increasing number of students and the school came under the control of the Diocesan Board, of Education, Rawalpindi. In 1956, a school building was constructed a few miles outside the town, on link Road, the present location. Its purpose was to provide more room for the seniors and it became known as Senior OMSI, while the campus in the city center initially became Junior OMSI and later OMSI for Girls. In 1977, the OMSI Lahore, was handed over to the Pakistan Army, being located on ‘A’ land and purchased from Fathers.
            </p>
        </div>
        <!-- services -->
        <div class="w3_agileits_services_grids">
            <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                <div class="w3_agileits_services_grid_agile">
                    <div class="w3_agileits_services_grid_1">
                        <img src="~/Webtheme/images/5.jpg" alt="service-img">
                    </div>
                    <h3>Auditorium</h3>

                </div>
            </div>
            <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                <div class="w3_agileits_services_grid_agile">
                    <div class="w3_agileits_services_grid_1">
                        <img src="~/Webtheme/images/6.jpg" alt="service-img">
                    </div>
                    <h3>Classroom</h3>

                </div>
            </div>
            <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                <div class="w3_agileits_services_grid_agile">
                    <div class="w3_agileits_services_grid_1">
                        <img src="~/Webtheme/images/7.jpg" alt="service-img">
                    </div>
                    <h3>Canteen</h3>

                </div>
            </div>
            <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                <div class="w3_agileits_services_grid_agile">
                    <div class="w3_agileits_services_grid_1">
                        <img src="~/Webtheme/images/8.jpg" alt="service-img">
                    </div>
                    <h3>Swimming Pool</h3>

                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>
</div>
<div class="team-section">
    <div class="container">
        <h3 class="tittle">Our Team</h3>
        <div class="team-row">
            <div class="col-md-3 team-grids">
                <div class="team-img">
                    <img class="img-responsive" src="~/Webtheme/images/t1.jpg" alt="">
                    <div class="captn">
                        <ul class="top-links">
                            <p>Developer</p>

                            <li><a class="icon fb" target="_blank" href="https://www.facebook.com/belawal.sheikh"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="icon tw" target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="icon gp" target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>

                        </ul>

                    </div>
                </div>
                <div class="team-agile">
                    <h4>Bilawal</h4>

                </div>
            </div>
            <div class="col-md-3 team-grids">
                <div class="team-img">
                    <img class="img-responsive" src="~/Webtheme/images/t2.jpg" alt="">
                    <div class="captn">
                        <ul class="top-links">
                            <p>Developer</p>
                            <li><a class="icon fb" target="_blank" href="https://www.facebook.com/tabraiz.shams.50"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="icon tw" target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="icon gp" target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>

                        </ul>

                    </div>
                </div>
                <div class="team-agile">
                    <h4>Tabraiz</h4>

                </div>
            </div>
            <div class="col-md-3 team-grids">
                <div class="team-img">
                    <img class="img-responsive" src="~/Webtheme/images/t3.jpg" alt="">
                    <div class="captn">
                        <ul class="top-links">
                            <p>Project Advisor</p>
                            <li><a class="icon fb" target="_blank" href="https://www.facebook.com/ali.janjua.5"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="icon tw" target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="icon gp" target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>

                        </ul>

                    </div>
                </div>
                <div class="team-agile">
                    <h4>Ali Ahmed</h4>

                </div>
            </div>
            <div class="col-md-3 team-grids">
                <div class="team-img">
                    <img class="img-responsive" src="~/Webtheme/images/t4.jpg" alt="">
                    <div class="captn">
                        <ul class="top-links">
                            <p>Head of Department</p>
                            <li><a class="icon fb" target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="icon tw" target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="icon gp" target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                        </ul>

                    </div>
                </div>
                <div class="team-agile">
                    <h4>Dr.Nadeem</h4>

                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="featured-facility">
    <!-- welcome -->

    <div class="spa-agile">
        <h3 class="tittle fea">Featured  Services</h3>
        <div class="col-md-3 spa-grid">

            <i class="fa fa-flask" aria-hidden="true"></i>

            <h4>LAB </h4>

        </div>
        <div class="col-md-3 spa-grid">

            <i class="fa fa-building" aria-hidden="true"></i>


            <h4>HOSTEL</h4>


        </div>
        <div class="col-md-3 spa-grid lost">

            <i class="fa fa-plus sign" aria-hidden="true"></i>

            <h4>Medical</h4>


        </div>
        <div class="col-md-3 spa-grid lost">

            <i class="fa fa-car" aria-hidden="true"></i>


            <h4>Pick Up</h4>


        </div>
        <div class="clearfix"> </div>
    </div>


