
@{ 
    Layout = "~/Views/Shared/_LayoutWebFront.cshtml";
}

<div id="demo-1" data-zs-src='["/Webtheme/images/4.jpg", "/Webtheme/images/2.jpg", "/Webtheme/images/1.jpg"]' data-zs-overlay="dots">
    <div class="demo-inner-content">
        <!--/header-w3l-->
        <div class="header-w3-agileits" id="home">
            <div class="inner-header-agile">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1>
                            <a href="~/Web/Index"><span>O</span>MSI <p class="s-log"> High School</p></a>

                        </h1>
                    </div>
                    <!-- navbar-header -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav">
                            <li class="active"><a href="~/Web/Index">HOME</a></li>
                            <li><a href="~/Web/About">ABOUT</a></li>
                            <li><a href="~/Web/Gallary">GALLERY</a></li>

                            <li><a href="~/Web/Contact">CONTACT</a></li>
                            <li><a href="~/Web/Login">LOGIN</a></li>

                        </ul>

                    </div>
                    <div class="clearfix"> </div>
                </nav>


            </div>

            <!--//header-w3l-->
            <!--/banner-info-->
            <div class="baner-info">
                <h3>Wel<span>Come </span>To  <span>O</span>M<span>S<span>I</h3>
                <h4>Junior and Senior High School</h4>
                <p>Staris of Success</p>
            </div>
            <!--/banner-ingo-->

        </div>
    </div>
</div>



<div class="special featured">
    <div class="container">
        <div class="ab-w3l-spa">
            <h3 class="tittle">Welcome to Our School!</h3>
            <p>
                OMSI traces its history back to 1943 when missionaries from St. Joseph's Society Mill Hill, London, established the OMSI in Lahore.
            </p>
        </div>
        <!-- services -->
        <div class="w3_agileits_services_grids">
            <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                <div class="w3_agileits_services_grid_agile">
                    <div class="w3_agileits_services_grid_1">
                        <img src="~/Webtheme/images/5.jpg" alt="service-img">
                    </div>
                    <h3>Auditorium</h3>

                </div>
            </div>
            <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                <div class="w3_agileits_services_grid_agile">
                    <div class="w3_agileits_services_grid_1">
                        <img src="~/Webtheme/images/6.jpg" alt="service-img">
                    </div>
                    <h3>Classroom</h3>

                </div>
            </div>
            <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                <div class="w3_agileits_services_grid_agile">
                    <div class="w3_agileits_services_grid_1">
                        <img src="~/Webtheme/images/7.jpg" alt="service-img">
                    </div>
                    <h3>Canteen</h3>

                </div>
            </div>
            <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                <div class="w3_agileits_services_grid_agile">
                    <div class="w3_agileits_services_grid_1">
                        <img src="~/Webtheme/images/8.jpg" alt="service-img">
                    </div>
                    <h3>Swimming Pool</h3>

                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>
<div class="featured-facility">
    <!-- welcome -->

    <div class="spa-agile">
        <h3 class="tittle fea">Featured  Facilities</h3>
        <div class="col-md-3 spa-grid">

            <i class="fa fa-flask" aria-hidden="true"></i>

            <h4>Lab</h4>

        </div>
        <div class="col-md-3 spa-grid">

            <i class="fa fa-building" aria-hidden="true"></i>


            <h4>Hostel</h4>


        </div>
        <div class="col-md-3 spa-grid lost">

            <i class="fa fa-plus sign" aria-hidden="true"></i>

            <h4>Medical</h4>


        </div>
        <div class="col-md-3 spa-grid lost">

            <i class="fa fa-car" aria-hidden="true"></i>


            <h4>Pick Up</h4>


        </div>
        <div class="clearfix"> </div>
    </div>

